body{
  margin: 0px;
}

#player{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #323232;
}

#playButton{
  width: 20%;
  cursor: pointer;
  position:absolute;
  opacity:75%;
}

#Video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



#b144 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#b240 {
    position: absolute;
    bottom: 10px;
    left: 120px;
    width: 100px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#b360 {
    position: absolute;
    bottom: 10px;
    left: 230px;
    width: 100px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#b480{
    position: absolute;
    bottom: 10px;
    left: 340px;
    width: 100px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#b720 {
    position: absolute;
    bottom: 10px;
    left: 450px;
    width: 100px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#b1080 {
    position: absolute;
    bottom: 10px;
    left: 560px;
    width: 100px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#bitrateDiv {
    position: absolute;
    bottom: 10px;
    left: 670px;
    width: 200px;
    background-color: #000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#fullscreenButton{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 32px;
    height: 32px;
}
